.moneda{
    width: 25rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #eee;
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.085);
    position: fixed;
}
li{
    list-style: square;
}
.nombre{
    font-size: 0.9rem;
}
.dato{
    background-color: rgba(240, 248, 255, 0.436);
    color: #030C1D;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: 2rem;   
}
.elemento {
    margin-bottom: 1.5rem;
}
.positivo{
    color: greenyellow;
}
.negativo{
    color: red;    
}