
li{
    list-style: square;
}
.nombre{
    font-size: 0.9rem;
}
.dato{
    background-color: rgba(240, 248, 255, 0.436);
    color: #030C1D;
    padding: 0.3rem;
    font-size: 1rem;
    border-radius: 5px;
    margin-left: 2rem;   
}
.elemento {
    margin-bottom: 1.4rem;
}
.positivo{
    color: greenyellow;
}
.negativo{
    color: red;    
}