h2{
    text-align: center;
}
.tabla{
    border-collapse: collapse;
    width: 400px;
    margin: auto;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.17);
    border: solid 2px aliceblue;
    letter-spacing: 1.5px;
}
thead{
    background-color:#030C1D;
    
}
tbody{
    text-align: center;
}
td{
    border: solid 1px aliceblue;
    padding: 5px;
}
.container2{
    display: flex;
    justify-content: space-around;
    
}
.cotizacion{
    margin-top: 1.5rem;
}
.valor{
    color:greenyellow
}
