.loginContainer{
    width: 20rem;
    margin: 3rem auto;
    background-color: rgba(240, 248, 255, 0.248);
    padding: 2rem;
    border-radius: 2rem;

}
.field{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.field{
    margin-bottom: 2rem;
}
.loginInput{

    margin-top: 0.5rem;
    width: 97%;
}
.submit{
    width: 20rem;
    display: flex;
    align-items: center;
    
}
.loginForm{
    width: 100%;
}
.loginBoton{
    width: 10rem;
    height: 3rem;
    cursor: pointer;
    background-color: #3a5689;
    width: 10rem;
    height: 3rem;
    border-right: solid 3px goldenrod;
    border-bottom: solid 3px goldenrod;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.errorContainer{
    display: flex;
    align-items: center;
    width: 20rem;
}
.error{
    margin-top: 2rem;
    text-align: center;
    width: 10rem;
    height: 5rem;
    color: tomato;
    font-family:serif
}
