.titulos{
    text-align: center;
}
.principal{
    display: grid;
    justify-content: center;
    margin: 50px;
}
.link2{
    margin: 5rem auto;
}
.button {
    background-color: #3a5689;
    width: 200px;
    height: 100px;
    border-right: solid 3px goldenrod;
    border-bottom: solid 3px goldenrod;
    


}
.button:hover{
    transform: scale(1.1);
    background-color: #718cbd;
    cursor: pointer;
}
.button2{
    margin-top: 2rem;
    background-color: #3a5689;
    width: 10rem;
    height: 3rem;
    border-right: solid 3px goldenrod;
    border-bottom: solid 3px goldenrod; 
}
.ingreso{
    display: flex;
    justify-content: space-around;

}